<?xml version="1.0"?>
<config>
  <modules>
    <Fanimal_ShowDetail>
      <version>0.1.0</version>
    </Fanimal_ShowDetail>
  </modules>
  <frontend>


      <rewrite>
       <fancy_url>
                 <from><![CDATA[/showdetail\/(.+)/]]></from>
                 <to><![CDATA[showdetail/index/index/$1/]]></to>
                     <complete>1</complete>
           </fancy_url>
       </rewrite>

    <routers>
      <showdetail>
        <use>standard</use>
          <args>
            <module>Fanimal_ShowDetail</module>
            <frontName>showdetail</frontName>
          </args>
      </showdetail>
    </routers>
		<layout>
		  <updates>
			<showdetail>
			  <file>showdetail.xml</file>
			</showdetail>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <showdetail>
        <class>Fanimal_ShowDetail_Helper</class>
      </showdetail>
    </helpers>
	<blocks>
	  <showdetail>
		<class>Fanimal_ShowDetail_Block</class>
	  </showdetail>
	</blocks>
	<models>
	  <showdetail>
		<class>Fanimal_ShowDetail_Model</class>
		<resourceModel>showdetail_mysql4</resourceModel>
	  </showdetail>
	</models>
    <events>
	  <cms_page_render> <!-- identifier of the event we want to catch -->
        <observers>
          <cms_page_render_handler> <!-- identifier of the event handler -->
            <type>model</type> <!-- class method call type; valid are model, object and singleton -->
            <class>showdetail/observer</class> <!-- observers class alias -->
            <method>showAPI</method>  <!-- observer's method to be called -->
            <args></args> <!-- additional arguments passed to observer -->
          </cms_page_render_handler>
        </observers>
      </cms_page_render>
    </events>
  </global>
</config> 