<?xml version="1.0"?>
<config>
  <modules>
    <Fanimal_ShowApp>
      <version>0.1.0</version>
    </Fanimal_ShowApp>
  </modules>

  <!-- 
  ssh into root, open crontab:
    crontab -e
  add the following lines (including the blank new line):
    0,5,10,15,20,25,30,35,40,45,50,55 * * * * /bin/sh /var/www/magento_dev/cron.sh
    0,5,10,15,20,25,30,35,40,45,50,55 * * * * /bin/sh /var/www/magento/cron.sh

  -->
  <crontab>
      <jobs>
          <showapp>
              <schedule>
                  <cron_expr>0 8,12,16,20 * * *</cron_expr>
              </schedule>
              <run>
                  <model>showapp/observer::cron</model>
              </run>
          </showapp>
      </jobs>
  </crontab>


  <frontend>
    <routers>
      <showapp>
        <use>standard</use>
          <args>
            <module>Fanimal_ShowApp</module>
            <frontName>adoptable-pets</frontName>
          </args>
      </showapp>
    </routers>

		<layout>
		  <updates>
			<showapp>
			  <file>showapp.xml</file>
			</showapp>
		  </updates>
		</layout>
  </frontend>
  

  <global>
    <helpers>
      <showapp>
        <class>Fanimal_ShowApp_Helper</class>
      </showapp>
    </helpers>
	<blocks>
	  <showapp>
		<class>Fanimal_ShowApp_Block</class>
	  </showapp>
	</blocks>
	<models>
	  <showapp>
		<class>Fanimal_ShowApp_Model</class>
		<resourceModel>showapp_mysql4</resourceModel>
	  </showapp>
	</models>
    <events>
	  <cms_page_render> <!-- identifier of the event we want to catch -->
        <observers>
          <cms_page_render_handler> <!-- identifier of the event handler -->
            <type>model</type> <!-- class method call type; valid are model, object and singleton -->
            <class>showapp/observer</class> <!-- observers class alias -->
            <method>showAPI</method>  <!-- observer's method to be called -->
            <args></args> <!-- additional arguments passed to observer -->
          </cms_page_render_handler>

        </observers>
      </cms_page_render>
    </events>
  </global>
</config> 